{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Pemira FF 2022</title>
<script type="text/javascript" src="{% static 'js/tokendata.js' %}"></script>
{% endblock meta %}

{% block content %}
<div class="flex flex-col justify-start items-center h-full overflow-auto">
  <div class="flex flex-col w-full p-16">
    <p>Token</p>
    <div class="overflow-auto w-full">
      <table class="table-auto border-collapse border border-black w-full">
        <thead class="border border-black">
          <tr>
            <th>NPM</th>
            <th>Nama</th>
            <th>Token</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody id="token-table" class="border border-black">
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}