{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Pemira FF 2022</title>
<script type="text/javascript" src="{% static 'js/panitia.js' %}"></script>
<style>
  .outline-text {
    text-shadow:
     -2px -2px 0 #150C34,  
      1px -1px 0 #150C34,
      -1px 1px 0 #150C34,
      1px 1px 0 #150C34;
  }
</style>
{% endblock meta %}

{% block content %}
<div class="flex flex-col font-simply-rounded justify-center items-center h-full p-16 gap-4">
  <div class="flex items-center justify-end text-xl w-full">
    <button id="logout-btn" class="py-2 px-6 bg-vivid-tangerine text-black hover:bg-pink-200 rounded-lg">Logout</button>
  </div>
  <p class="text-7xl outline-text text-white">Dashboard Panitia</p>
  <p class="text-6xl outline-text text-white">Pemira FF UI 2022</p>
  <div class="flex grow flex-col justify-center items-center gap-8">
    <a class="w-full rounded-lg border-2 border-russian-violet text-arylide-yellow outline-text px-44 py-6 text-3xl bg-orange-red" href="/hasil/ketua-bem">Hasil Vote Ketua BEM</a>
    <a class="w-full rounded-lg border-2 border-russian-violet text-arylide-yellow outline-text px-20 py-6 text-3xl bg-orange-red" href="/hasil/anggota-bpm">Hasil Vote Anggota Independen BPM</a>
    <a class="w-full rounded-lg border-2 border-russian-violet text-arylide-yellow outline-text px-60 py-6 text-3xl bg-orange-red" href="/token">Daftar Token</a>
  </div>
</div>
{% endblock content %}