{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Pemira FF 2022</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="{% static 'js/hasil.js' %}"></script>
<script type="text/javascript" src="{% static 'js/panitia.js' %}"></script>
<script type="text/javascript">
  $(document).ready(() => {
    chart('bem');

    $("#logout-btn").click(() => {
      $.post("/panitia/logout/", {}, (data, status) => {
        window.location.href = "/panitia/";
      });
    });
  });
</script>
<style>
  .outline-text {
    text-shadow:
     -2px -2px 0 #150C34,  
      1px -1px 0 #150C34,
      -1px 1px 0 #150C34,
      1px 1px 0 #150C34;
  }
</style>
{% endblock meta %}

{% block content %}
<div class="flex flex-col font-simply-rounded justify-center items-center h-full p-16 gap-4">
  <div class="flex items-center justify-end text-lg w-full gap-x-8">
    <a class="underline hover:text-liberty" href="/panitia/dashboard">Dashboard Panitia</a>
    <button id="logout-btn" class="py-2 px-4 bg-vivid-tangerine text-black hover:bg-pink-200 rounded-lg">Logout</button>
  </div>

  <div class="flex flex-col text-white outline-text text-3xl justify-center items-center">
    <p>Hasil Pemungutan Suara</p>
    <p>Calon Anggota Independen BEM FF UI 2022</p>
  </div>

  <div class="grow flex flex-col font-simply-rounded justify-center w-[50%]">
    <canvas id="chart"></canvas>
  </div>

  <a href="/hasil/anggota-bpm" class="flex flex-col justify-center border-2 border-russian-violet text-xl items-center bg-arylide-yellow p-6">
    <button class="flex flex-col  text-white outline-text text-center items-center grow justify-center">
      <p>Hasil Pemungutan Suara</p>
      <p>Calon Anggota Independen BPM FF UI 2022</p>
    </button>
  </a>
</div>
{% endblock content %}