{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Pemira FF 2022</title>
<script type="text/javascript" src="{% static 'js/tokendata.js' %}"></script>
<script type="text/javascript" src="{% static 'js/panitia.js' %}"></script>
<style>
  .outline-text {
    text-shadow:
     -2px -2px 0 #150C34,  
      1px -1px 0 #150C34,
      -1px 1px 0 #150C34,
      1px 1px 0 #150C34;
  }
</style>
{% endblock meta %}

{% block content %}
<div class="flex flex-col font-simply-rounded justify-start items-center h-full overflow-auto">
  <div class="flex flex-col text-center w-full gap-8 p-12">
    <div class="flex items-center justify-end text-xl w-full gap-8">
      <a class="underline hover:text-liberty" href="/panitia/dashboard">Dashboard Panitia</a>
      <button id="logout-btn" class="py-2 px-4 bg-vivid-tangerine text-black hover:bg-pink-200 rounded-lg">Logout</button>
    </div>
    <p class="text-5xl text-white outline-text">Daftar Token</p>
    <div class="overflow-auto w-full">
      <table class="table-auto w-full">
        <thead class="border-2 text-2xl p-2 bg-orange-red text-white outline-text border-russian-violet">
          <tr>
            <th class="border-r-2 border-russian-violet">NPM</th>
            <th class="border-r-2 border-russian-violet">Nama</th>
            <th class="border-r-2 border-russian-violet">Token</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody class="text-lg bg-arylide-yellow" id="token-table">
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}