{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Pemira FF 2022</title>
<script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
<style>
  .outline-text {
    text-shadow:
     -2px -2px 0 #150C34,  
      1px -1px 0 #150C34,
      -1px 1px 0 #150C34,
      1px 1px 0 #150C34;
  }
</style>
{% endblock meta %}

{% block content %}
<div class="flex flex-col items-center h-full font-simply-rounded overflow-auto w-full p-8">
  <p class="text-6xl text-white outline-text">VOTE SEKARANG!</p>
  <p class="text-5xl text-white outline-text">Ketua Umum BEM</p>
  <div class="p-2"></div>
  <div class="grid grid-cols-2 w-full grow">
    {% for c in calon %}
      <div class="flex justify-center space-x-2 w-full">
        <div class="relative left-4 pt-10">
          <span class="bg-liberty ml-4 w-20 h-20 flex justify-center items-center text-5xl text-white outline-text border border-russian-violet rounded-full p-6">{{ c.cNo }}</span>
        </div>
        <div class="flex flex-col w-[24rem] items-center gap-y-8 rounded-lg m-8 p-8">
          <img class="rounded-full border-2 border-russian-violet overflow-clip w-48 h-48" src={{ c.photoPath }} />
          <div class="text-center w-fit border-2 border-russian-violet px-6 py-1 bg-vivid-tangerine">
            <p class="text-3xl text-white outline-text">{{ c.name }}</p>
          </div>
          <button class="bg-orange-red border-2 border-russian-violet text-white outline-text text-2xl rounded-lg px-8 py-2" onClick="showConfirmModalBem({{ c.cNo }})">VOTE</button>
        </div>
      </div>
    {% endfor %}
    <div class="flex justify-center space-x-2 w-full">
      <div class="relative left-4 pt-10">
        <span class="bg-liberty ml-4 w-20 h-20 flex justify-center items-center text-5xl text-white outline-text border border-russian-violet rounded-full p-6">2</span>
      </div>
      <div class="flex flex-col w-[24rem] items-center gap-y-8 rounded-lg m-8 p-8">
        <img class="rounded-full border-2 border-russian-violet overflow-clip w-48 h-48" src={% static 'img/anonymous.jpg' %} />
        <div class="text-center w-fit border-2 border-russian-violet px-6 py-1 bg-vivid-tangerine">
          <p class="text-3xl text-transparent">Naufal Hibatullah Muzakki</p>
        </div>
        <button class="bg-orange-red border-2 border-russian-violet text-white outline-text text-2xl rounded-lg px-8 py-2" onClick="showConfirmModalBem(0)">VOTE</button>
      </div>
    </div>
  </div>
</div>

<div id="confirm-modal" class="hidden w-screen h-screen bg-slate-800/70 absolute top-0 flex flex-col justify-center items-center">
  <div class="flex font-simply-rounded flex-col justify-center items-center bg-mandarin/70 p-20 gap-y-8">
    <p class="text-5xl text-white outline-text">Apakah Anda yakin dengan pilihan Anda?</p>
    <div class="flex space-x-12 w-fit">
      <button id="ya-btn" class="text-3xl text-white outline-text rounded-lg bg-orange-red border-2 border-black px-10 py-2">Ya</button>
      <button id="kembali-btn" class="text-xl text-white outline-text rounded-lg bg-orange-red border-2 border-black px-4 py-2" onClick="hideConfirmModal()">
        <p>Kembali</p>
        <p>ke pilihan</p>
      </button>
    </div>
  </div>
</div>
{% endblock content %}