{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    {% tailwind_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block meta %}
    {% endblock meta %}

    <script>
      $(document).ready(function () {
        function disableBack() {window.history.forward()}
    
        window.onload = disableBack();
        window.onpageshow = function (evt) {if (evt.persisted) disableBack()}
    });
    </script>
  </head>

  <body class="h-screen bg-hero bg-cover bg-no-repeat ">
    {% block content %}
    {% endblock content %}
  </body>

</html>